{% extends "myapp/base.html" %}
{% load static %}
{% block content %}
<div className="content-container">
  <div class="welcome-section other-services container-fluid no-left-padding no-right-padding">
    <div class="container">
      <div class='section-header'> 
      <h3>About Our Hospital</h3>
    </div>
      <div class="row">
        <div class="col-md-50 col-sm-15 col-xs-12 our-clinic">
          <div class="row welcome-left">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="other-services-block">
                <div class="services-block-icon">
                  <i class="fa fa-ambulance"></i>
                </div>

                <div class="other-services-content">
                  <h5>Emergency services</h5>
                  <p>Dolor sit amet consecdi pisicing eliamsed do eiusmod tempornu</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="other-services-block">
                <div class="services-block-icon">
                  <i class="fa fa-users"></i>
                </div>
                <div class="other-services-content">
                  <h5>Qualified Doctors</h5>
                  <p>Dolor sit amet consecdi pisicing eliamsed do eiusmod tempornu</p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="other-services-block">
                <div class="services-block-icon">
                  <i class="fa fa-phone-square"></i>
                </div>
                <div class="other-services-content">
                  <h5>24/7 support</h5>
                  <p>Dolor sit amet consecdi pisicing eliamsed do eiusmod tempornu</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="other-services-block">
                <div class="services-block-icon">
                  <i class="fa fa-calendar"></i>
                </div>
                <div class="other-services-content">
                  <h5>Online appointment</h5>
                  <p>Dolor sit amet consecdi pisicing eliamsed do eiusmod tempornu</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="other-services-block">
                <div class="services-block-icon">
                  <i class="fa fa-calendar"></i>
                </div>
                <div class="other-services-content">
                  <h5>Clinical services</h5>
                  <p>Dolor sit amet consecdi pisicing eliamsed do eiusmod tempornu</p>
                </div>
              </div>
            </div>            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="other-services-block">
                <div class="services-block-icon">
                  <i class="fa fa-ambulance"></i>
                </div>
                <div class="other-services-content">
                  <h5>Laboratory service</h5>
                  <p>We have the best ever laboratory service available with a wide range of advanced equipment providing the best service ever </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
