{% extends "myapp/base.html" %}
{% block content %}
<div class='contactcard'>
  <footer id="footer-main" class="footer-main container-fluid no-left-padding no-right-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 contact-info">
          <aside class="widget widget_info">
            <h3 class="widget-title">Contact info</h3>
            <p><i class="fa fa-phone"></i><a href="tel:386489550686" title="+386 489 550 686">+386 489 550 686</a></p>
            <p><i class="fa fa-envelope"></i><a href="mailto:yourdomain@name.com" title="yourdomain@name.com">yourdomain@name.com</a></p>
            <p><i class="fa fa-map-marker"></i>123, Las Vegas street </p>
          </aside>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <aside class="widget widget_workinghours">
            <span><i class="fa fa-clock-o"></i></span>
            <h3 class="widget-title">Working Hours</h3>
            <ul>
              <li><span>Monday</span> <b>9.00  AM  To  5.00 PM</b></li>
              <li><span>Tuesday</span> <b>9.00  AM  To  5.00 PM</b></li>
              <li><span>Wednesday</span> <b>9.00  AM  To  5.00 PM</b></li>
              <li><span>Thursday</span> <b>9.00  AM  To  5.00 PM</b></li>
              <li><span>Friday</span> <b>9.00  AM  To  5.00 PM</b></li>
              <li><span>Saturday</span> <b>11.00  AM  To  3.00 PM</b></li>
              <li><span>Sunday</span> <b>Closed</b></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </footer>
</div>
{% endblock %}
