<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Doctor List</title>
    <style>
        table {
            width: 95%;
            border-collapse: collapse;
            margin-left : 20px;
            margin-right : 20px;

        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Doctor List</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Specialization</th>
                <th>Qualification</th>
                <th>Location</th>
                <th>Experience</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Languages</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
                <tr>
                    <td>{{ doctor.name }}</td>
                    <td>{{ doctor.specialization }}</td>
                    <td>{{ doctor.qualification }}</td>
                    <td>{{ doctor.location }}</td>
                    <td>{{ doctor.experience }}</td>
                    <td>{{ doctor.email }}</td>
                    <td>{{ doctor.phone }}</td>
                    <td>{{ doctor.languages }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>


