{% extends "myapp/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/gallery_styles.css' %}">
{% block content %}
<div id="gallery-section" class="gallery-section container-fluid no-left-padding no-right-padding">
    <div class="container">
      <div class="section-header">
        <h3>Top Experts of our hospital</h3>
      </div>
      <ul class="portfolio-list no-left-padding">
        <li class="col-md-4 col-sm-4 col-xs-6 design">
          <div class="content-image-block">
            <img src="{% static 'images/doctors/d1.jpg' %}" alt="gallery" />
            <div class="content-block-hover">
              <span>Dr William A. Abdu, M.D, M.S.</span>
              <h5>Orthopedics</h5>
            </div>
          </div>
        </li>
        <li class="col-md-4 col-sm-4 col-xs-6 video">
          <div class="content-image-block">
            <img src="{% static 'images/doctors/d2.jpg' %}" alt="gallery" />
            <div class="content-block-hover">
              <span>Dr Myles. B. Abbott, M.D.</span>
              <h5>Oncologist</h5>
            </div>
          </div>
        </li>
        <li class="col-md-4 col-sm-4 col-xs-6 photography">
          <div class="content-image-block">
            <img src="{% static 'images/doctors/d3.jpg' %}" alt="gallery" />
            <div class="content-block-hover">
              <span>Dr Sudhansu Bhattacharyya, MBBS, MS</span>
              <h5>Cardiovascular Surgeon</h5>
            </div>
          </div>
        </li>
        <li class="col-md-4 col-sm-4 col-xs-6 web">
          <div class="content-image-block">
            <img src="{% static 'images/doctors/d5.jpg' %}" alt="gallery" />
            <div class="content-block-hover">
              <span>Dr. Ajaya Nand Jha MBBS, MS, FRCS</span>
              <h5>Neurosurgery</h5>
            </div>
          </div>
        </li>
        <li class="col-md-4 col-sm-4 col-xs-6 video">
          <div class="content-image-block">
            <img src="{% static 'images/doctors/d6.jpg' %}" alt="gallery" />
            <div class="content-block-hover">
              <span>Dr. Abhijit Dey MBBS & MS</span>
              <h5>orthopaedics</h5>
            </div>
          </div>
        </li>
        <li class="col-md-4 col-sm-4 col-xs-6 video">
          <div class="content-image-block">
            <img src="{% static 'images/doctors/d3.jpg' %}" alt="gallery" />
            <div class="content-block-hover">
              <span>Dr. Aroop Mukherjee MBBS, MS </span>
              <h5>Neurosurgery</h5>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
